{% extends 'base.html' %}
{% block title %}Compose Message{% endblock %}
{% block content %}
    <h1 class="category-heading" >Compose Message</h1>
    <div class="card">
    
    <form  method="post" action="{% url 'compose_message' recipient_id=recipient_id %}">
        {% csrf_token %}
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject">
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" cols="30"></textarea>
        <br>
        <button class="contact-button" type="submit">Send</button>
    </form>
</div>
    <!-- Option to reply to the message -->
    {% if message %}
    <div class="card">
    <h2 >Replying to: {{ message.subject }}</h2>
    <form class="card-info" method="post" action="{% url 'compose_message' recipient_id=message.sender.id %}">
        {% csrf_token %}
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" value="Re: {{ message.subject }}">
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" cols="30"></textarea>
        <br>
        <button class="contact-button" type="submit">Send Reply</button>
    </form>
    </div>
    {% endif %}
{% endblock %}