<!-- message_detail.html -->
{% extends 'base.html' %}
{% block title %}Message Detail{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ message.subject }}</h2>
            <p class="card-info">From: {{ message.sender }}</p>
            <p class="card-info">{{ message.message }}</p>
        </div>
        
            <!-- Reply button -->
            <a href="{% url 'compose_message' recipient_id=message.sender.id %}" class="btn btn-primary, contact-button">Reply</a>
            <!-- Delete button -->
            <form action="{% url 'delete_message' message.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger, contact-button">Delete</button>
            </form>
       
    </div>
{% endblock %}
