{% extends "base.html" %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div >
            <div >
                <div class="card-create">
                    <div class="card-header">{% trans "Sign Up" %}</div>

                    <div >
                        <p>{% trans 'Please fill out the form below to create an account:' %}</p>
                        <form  class="card-info" method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email">
                            <label for="name">Name:</label>
                            <input type="name" id="user_name" name="user_name">
                            <label for="password">Password:</label>
                            <input type="password" id="password-input" name="password-input">
                            <button class="btn btn-primary" type="submit">{% trans 'Sign Up' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
