{% extends "base.html" %}

{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <div class="content">
        <h2 class="category-heading">{% trans "Sign In" %}</h2>
        <form class="card-create" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_login">{% trans "Username or Email" %}</label>
                <input id="id_login" type="text" name="login" placeholder="{% trans "Enter your username or email" %}" required autofocus>
            </div>
            <div class="form-group">
                <label for="id_password">{% trans "Password" %}</label>
                <input id="id_password" type="password" name="password" placeholder="{% trans "Enter your password" %}" required>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <button class="btn btn-primary, contact-button" type="submit">{% trans "Sign In" %}</button>
        </form>
        <p class="card-create">
            {% trans "If you have not created an account yet, then please" %}
            <a class="contact-button" href="{% url 'account_signup' %}">{% trans "sign up" %}</a>
            {% trans "first." %}
        </p>
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
