{% extends "base.html" %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="category-heading">
                    {% blocktrans %}Sign Out{% endblocktrans %}
                </div>
                <div class="card">
                    

                    <div class="card-body">
                        <p>{% trans 'Are you sure you want to sign out?' %}</p>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                            {% endif %}
                            <button class="btn btn-danger, contact-button" type="submit">{% trans 'Sign Out' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}