{% extends "base.html" %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-create">
                    <div class="card-header">{% trans "Sign Up" %}</div>

                    <div class="card-body">
                        <p>{% trans 'Please fill out the form below to create an account:' %}</p>
                        <form method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary" type="submit">{% trans 'Sign Up' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}