{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="category-heading">Category Name - Found Items: 10</div>
    <div class="card">
        <h3>Item Title</h3>
        <p>Item description...</p>
    </div>
    <div class="category-heading">Category Name - Found Items: 10</div>
    <div class="card">
        <h3>Item Title</h3>
        <p>Item description...</p>
    </div>
    <div class="category-heading">Category Name - Found Items: 10</div>
    <div class="card">
        <h3>Item Title</h3>
        <p>Item description...</p>
    </div>
    <div class="category-heading">Category Name - Found Items: 10</div>
    <div class="card">
        <h3>Item Title</h3>
        <p>Item description...</p>
    </div>
    <!-- Repeat the card structure for each item -->
</div>

{% endblock%}