{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if home_list|length > 0 %}
<div class="content">
    <div class="category-heading">{{ category_name }} - Found Items: {{ home_list|length }}</div>

    {% for home in home_list %}
    <div class="card">
        <div class="card-image">
            <img src="{{ home.image.url }}" alt="Item Image">
            <div class="image-overlay">
                <img src="/static/assets/camera.png" alt="Camera Icon">
                <span>{{ home.additional_photos }}</span>
            </div>
        </div>
        <div class="card-info">
            <h3>{{ home.title }}</h3>
            <p>Created on: {{ home.created_on|date:"F j, Y" }} Location: {{ home.location }} Category: {{ home.category }}</p>
            <p>{{ home.description }}</p>
        </div>
        <div class="details">
            <div class="card-price">
                <p>Price</p>
                <p>${{ home.price }}</p>
            </div>
            <div>
                <button class="contact-button">Contact</button>
            </div>
            <div class="card-favorite">
                <button>&#10084;</button>
            </div>
        </div>
    </div>
    {% endfor %}

{else}

<div class="content">
    <div class="category-heading">Category Name - Found Items: 10</div>
    <div class="card">
        <div class="card-image">
            <img src="/static/assets/testimage.png" alt="Item Image">
            <div class="image-overlay">
                <img src="/static/assets/camera.png" alt="Camera Icon">
                <span>3</span> <!-- Replace with the actual number of additional photos -->
            </div>
        </div>
        <div class="card-info">
            <h3>Zombie Slaves, good condition</h3>
            <p>Created on: March 10, 2024 Location: City, Country Category: Category Name</p>
            <p>Info: Zombie hoard for sale,great for doing those mindless tasks for you,right now if you buy 2 ill give you a third for free</p>
        </div>
        <div class="details">
            <div class="card-price">
                <p>Price</p>
                <p>$5000.00</p> <!-- Replace with the actual price -->
            </div>
            <div >
                <button class="contact-button">contact</button>
            </div>
            <div class="card-favorite">
                <button>&#10084;</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="/static/assets/testimage2.png" alt="Item Image">
            <div class="image-overlay">
                <img src="/static/assets/camera.png" alt="Camera Icon">
                <span>3</span> <!-- Replace with the actual number of additional photos -->
            </div>
        </div>
        <div class="card-info">
            <h3>Zombie storage for rent</h3>
            <p>Created on: March 10, 2024 Location: City, Country Category: Category Name</p>
            <p>Info: has your loved ones recently become infected? were offering a safe place to store your loved ones untill a cure can be Found
                we offer many packages and can cater to multiple patients, give us a ring!!!
            </p>
        </div>
        <div class="details">
            <div class="card-price">
                <p>Price</p>
                <p>$5000.00</p> <!-- Replace with the actual price -->
            </div>
            <div >
                <button class="contact-button">contact</button>
            </div>
            <div class="card-favorite">
                <button>&#10084;</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="/static/assets/testimage3.png" alt="Item Image">
            <div class="image-overlay">
                <img src="/static/assets/camera.png" alt="Camera Icon">
                <span>3</span> <!-- Replace with the actual number of additional photos -->
            </div>
        </div>
        <div class="card-info">
            <h3>End of the World SALE!!</h3>
            <p>Created on: March 10, 2024 Location: City, Country Category: Category Name</p>
            <p>The world may have ended but our sale continues,
                get your supplies, munitions, weapons,materials and meds,
                all at CRAZY prices!!
                contact us for mor details
            </p>
        </div>
        <div class="details">
            <div class="card-price">
                <p>Price</p>
                <p>$450.00 +</p> <!-- Replace with the actual price -->
            </div>
            <div >
                <button class="contact-button">contact</button>
            </div>
            <div class="card-favorite">
                <button>&#10084;</button>
            </div>
        </div>
    </div>
    <!-- Repeat the card structure for each item -->
</div>
{% endif %}
{% endblock %}