<!-- user_posts.html -->
{% extends 'base.html' %}
{% block content %}
<h2 class="category-heading">Your Adverts</h2>
{% for advert in user_adverts %}
<div class="card" >
    <a href="{% url 'edit_advert' advert.id %}">Edit</a>
    <a href="{% url 'delete_advert' advert.id %}">Delete</a>
    <div class="card-image">
        <img  src="{{ advert.image.url }}" alt="Image">
    </div>
    <h3 class="card-info" >{{ advert.title }}</h3>
    <p class="card-info">{{ advert.description }}</p>
</div>
{% endfor %}
{% endblock %}
