body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
    
    color: white;
}

nav img {
    height: 100px; /* Adjust the height as needed */
}

nav input[type="text"] {
    margin-right: 5px;
    padding: 5px;
}

main {
    display: flex;
    padding: 20px;
    height: :100vh;
    background-image:url("/static/assets/background.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.filters {
    width: 20%;
    padding-right: 20px;
    margin-right: 20px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.799);
}

.content {
    flex: 1;
}

.category-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.799);
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.799);
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        margin-bottom: 20px;
    }

    .content {
        width: 100%;
    }
}