body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/static/assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(16, 16, 16);
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
}

nav img {
    height: 100px; 
}

nav input[type="text"] {
    margin-right: 5px;
    padding: 5px;
}
.create-button{
    background-color: greenyellow;
    color: #fff;
}
.search {
    border-radius: 20px;
}

main {
    display: flex;
    padding: 20px;
    height: 100vh;
}

.filters {
    display: none;
    width: 20%;
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.799);
    border-radius: 10px;
}

.filters h2,
.filter-section h3,
.filter-location h3,
.filter-price h3,
.filter-type h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.filter-section,
.filter-location,
.filter-price,
.filter-type {
    margin-bottom: 20px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.content {
    flex: 1;
    max-width: 100%;
}

.category-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.799);
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.799);
    display: flex;
    border-radius: 10px;
    max-height: 200px;
    max-width: 100%;
}

.card-image {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
}

.card-image img {
    width: 100%;
    height: auto;
    justify-self: center;
    margin-right: 10px;
    min-height: fit-content;
    
}
.card p{
    max-width: 500px;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.image-overlay img {
    width: 40px; 
    margin-right: -5px;
}

.image-overlay span {
    font-size: 16px;
    
}

.card-info {
    flex: 2;
    padding: 2px;
    margin-left: 10px;
   
}

.card-info h3 {
    margin-bottom: 2px;
}

.card-price,
.card-favorite {
    flex: 2;
    padding: 10px;
}

.card-favorite button {
    font-size: large;
    background: none;
    border: none;
    color: #ff69b4; /*heart color */
    cursor: pointer;
}
.contact-button{
    background-color: #f69c00;
    border-radius: 10px;
    color: #fff;
}




@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .content {
        width: 100%;
    }

    .filters {
       
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 800px) {

    .card {
        flex-direction: column;
        max-height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }


}