{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rustys TradingPost</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="screen-content">
    <nav>
        <div>
            <img src="/static/assets/logorusty.png" alt="Logo">
        </div>
               
        <div>
            {% if user.is_authenticated %}
            <div class="navbar-item">
                Welcome, {{ request.user.username }}
                <button class="contact-button" onclick="location.href='{% url 'account_logout' %}'">Logout</button>
            </div>
                <!-- Show logout and buttons if user is logged in -->
                <a class="contact-button" href="{% url 'user_posts' %}">My Ads</a>  
                <a class="contact-button" href="{% url 'index' %}">Home</a>
                <a  class="contact-button" href="{% url 'inbox' %}">
                    <i class="fa fa-envelope"></i></a>    
                <button class="contact-button" onclick="location.href='{% url 'create_advert' %}'">Create +</button>
                
                
                {% else %}
                <!-- Show login and sign up buttons if user is not logged in -->
                <button class="contact-button" onclick="location.href='{% url 'account_login' %}'">Login</button>
                <button class="contact-button" onclick="location.href='{% url 'account_signup' %}'">SignUp</button>
                
            {% endif %}
        </div>
    </nav>

    <main class="main">
        <!---------------------------filter stuff not doing what i want yet
        <div class="filters">
            <h2>Filters</h2>
            <div class="filter-section">
                <input type="text" class="search" placeholder="Search...">
                <button id="search-btn">Submit</button>
                <h3>category</h3>
                <select id="section-select">
                    <option value="">Select category</option>
                    {% for category in home.category %}
                        <option value="{{ home.category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-location">
                <h3>Location</h3>
                <select id="location-select">
                    <option value="">Select Location</option>
                    {% for location in home.locations %}
                        <option value="{{ home.location }}">{{ location }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-price">
                <h3>Price Range</h3>
                <input type="text" id="price-from" placeholder="From">
                <input type="text" id="price-to" placeholder="To">
            </div>

            </div>
        </div>
    -->
        <div class="content">
            {%block content%}
            {%endblock%}
        </div>
        
    </main>
    <footer class="card, footer">
        <div class="social-links">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Rustys TradingPost. All rights reserved.</p>
        </div>
    </footer>
</div>
<script src="/static/js/script.js"></script>
</body>     
</html>